<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="todolist.css">   
    <script src='https://unpkg.com/vue@2.5.2/dist/vue.js'></script>
    
</head>
<body>
    <div class='page-top'>
        <div class="page-content">
            <h2>Todo List</h2>
        </div>
        <div class="main">
            <!-- <h3 class="big-title">Todo List</h3> -->
            <input type="text" class="task-input" @keyup.13='addTodo' v-model='todo' placeholder='What needs to be done?'>
            <ul class="task-count">
                <li>{{getChecked}}个任务未完成</li>
                <li class="action">
                    <a href="#all">所有任务</a>
                    <a href="#unfinish">未完成任务</a>
                    <a href="#finished">完成任务</a>
                </li>
            </ul>
            <!-- <h3 class="big-title">任务列表：</h3> -->
            <div class="tasks">
                <span class="no-task-tip" v-show='!list.length'>还没有添加任何任务</span>
                <ul class="todo-list">
                    <li class="tode-list" v-for="item in filterList" v-bind:class={completed:item.checked,editing:item===editingTodo}>
                        <div class="view">
                            <input type="checkbox" class="toggle" v-model='item.checked'>
                            <label for="" @dblclick='editTodo(item)' >{{ item.title }}</label>
                            <button class="destroy" @click="deleteTodo(item,$event)"></button>
                        </div>
                        <input type="text" class='edit' v-model='item.title' 
                        v-focus='item===editingTodo' @keyuo.13='editedTodo' 
                        @blur='editedTodo' @keyup.esc='cancelTodo(item)'>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src='todolist.js'></script> 
</body>

</html>
